*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
body{
    background-color: #d6ecea;
}
input{
    border:none;
    outline: none;
    background: none;
}
input:focus{
    border: none;
}